<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Avactis Test Suite">
  <test name="Test">
    <classes>
      <class name="com.avactis.sb.qa.testcases.LoginPageTest"></class>
      <class name="com.avactis.sb.qa.testcases.UserHomePageTest"></class>
      <class name="com.avactis.sb.qa.testcases.ApparelPageTest"></class>
      <class name="com.avactis.sb.qa.testcases.ProductDetailsPageTest"></class>
      <class name="com.avactis.sb.qa.testcases.CheckOutPageTest"></class>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
